* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Quotes */
.quotes {
  height: 82px;
  background: #0000ff;
  width: 100%;
  text-align: center;
  line-height: 4.5;
  font-size: 16px;
  color: white;
  font-family: "Shrikhand", cursive;
  margin-bottom: 0;
}

.logo-img {
  width: 146px;
  float: left;
}

.logo {
  height: 50px;
}
.wrapper {
  background-color: #f5f5f5;
}

h3.logo-name {
  font-size: 20px;
  line-height: 5.5;
  font-weight: 800;
  color: #0000ff;
  font-family: "Luckiest Guy", cursive;
}

input.search-input {
  width: 294px;
  line-height: 2;
}

form.search-form {
  position: relative;
}

.form {
  margin-top: 39px;
  width: 326px;
  border: 2px solid black;
}

p.log-in {
  float: right;
  margin-right: 99px;
  line-height: 8;
  font-weight: 700;
}

.authorization {
  background: #fff;
  box-shadow: 0 4px 10px -1px rgb(0 0 0 / 20%);
  margin-top: 17px;
  height: 83px;
  display: flex;
  justify-content: space-between;
}

.auth-signin {
 
  margin-top: 30px;
  margin-left: 29px;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
}
.auth-signin a {
  text-decoration: none;
  color: #fff;
  padding: 4px 8px;
  background: blue;
  border-radius: 3px;
}
.auth-signin:hover a {
  color: white;
  background-color: red;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
}

.auth-register {
 
  margin-top: 30px;
  margin-right: 41px;
  
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
}
.auth-register a {
  text-decoration: none;
  color: #fff;
  padding: 4px 8px;
   background: blue;
   border-radius: 3px;
}

.auth-register:hover a {
  color: white;
  background-color: red;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
}

svg.notice {
  margin-top: 23px;
  font-size: 30px;
  margin-right: 59px;
  color: #0000ff;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
}

svg.notice:hover {
  color: red;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
}
.col-4.login {
  width: 289px;
}

.filter-section {
  background: #fff;
  box-shadow: 0 4px 10px -1px rgb(0 0 0 / 30%);
  height: 50px;
}

/* Slider */
.carousel__img1 {
  width: 100%;
  height: 100vh;
  background: url(../src/images/slide7.jpg);
  background-size: cover;
  background-position: center;
}

img.slide-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.carousel.slide {
  margin-top: 51px;
}

/* books */
.book-img img {
  max-width: 248px;
  max-height: 293px;
}

img.card-img-top.book-img {
  height: 295px;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}
.card.shadow.book {
  height: 380px;
  position: relative;
  background: #f5f5f5;
}
.container.cards {
  margin-right: 69px;
}

p.card-title.book-title {
  margin-bottom: 6px;
  color: #3b3951;
  font-family: rubikmedium;
  line-height: 1.2;
  max-height: 57px;
  margin-top: -8px;
  float: left;
}

p.book-author {
  color: #3b3951;
  font-family: georgia;
  line-height: 0.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
}

button.btn.btn-primary.delete-btn {
  width: 85px;
  position: absolute;
  margin-top: 18px;
  margin-left: -57px;
  height: 37px;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
}

button.btn.btn-primary.delete-btn:hover {
  background-color: red;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
}

button.btn.btn-primary.add-btn {
  margin-top: 20px;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
}

button.btn.btn-primary.add-btn:hover {
  background-color: red;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
}
.card-body.text-center.book-desc {
  height: 8px;
}

.card.shadow.col-md-3.book {
  width: 228px;
  height: 370px;
  margin-right: 51px;
  margin-top: 51px;
}

.lbl-exchange {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  color: white;
  padding: 3px 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  z-index: 9;
}
.lbl-sale {
  position: absolute;
  top: -3px;
  right: 20px;
  width: 30px;
  height: 114px;
  z-index: 9;
  background-color: blue;
  color: white;
  writing-mode: vertical-lr;
  text-align: center;
}

/* Footer */

footer.footer {
  background: #44425c;
  padding-top: 49px;
  padding-bottom: 33px;
  margin-top: 51px;
}

.developers {
  font-size: 14px;
  margin-left: 32px;
}
.footer-title {
  text-align: center;
}

/* bookPage */
button.btn-not-agree.btn.btn-secondary {
  margin-left: 17px;
}

button.btn.btn-primary.exchange-btn {
  margin-top: 65px;
}

.exchange-btn {
  margin-top: 548px;
  width: 127px;
}
.book-desc {
  text-align: center;
}

/* userPage */
.user-details {
  text-align: center;
  margin-top: 30px;
}
.col-md-4.btns {
  margin-top: 17px;
}

.row.book-page {
  margin-top: 38px;
}

/* users */

.form-group.list {
  padding: 3px;
}

.col-8.users-firstname a {
  text-decoration: none;
}
.users-page {
  background: #d4dae0a8;
}

.container.users a {
  text-decoration: none;
  color: black;
}
/* notifications */

.card.text-center.book-notifications {
  margin-top: 35px;
}

.card-body.n-details {
  position: relative;
}

button.btn.btn-primary.delete-noticeBtn {
  width: 85px;
  position: absolute;
  margin-top: -32px;
  margin-left: 176px;
  height: 37px;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
}

button.btn.btn-primary.delete-noticeBtn:hover {
  background-color: red;
  transition-property: color, background-color;
  transition-duration: 0.5s, 0.5s;
}

/* personal profile */

.profile-btn {
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 4px 10px -1px rgb(0 0 0 / 20%);
  margin-top: 17px;
  height: 83px;
  display: flex;
  justify-content: space-between;
  margin-right: 110px;
}
h5.profile-notice {
  line-height: 5;
  margin-right: 18px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
}
